body {
    margin: 0;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.solar-system {
    position: relative;
    width: 200px;
    height: 200px;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.planet {
    position: absolute;
    border-radius: 50%;
}

.mercury {
    width: 50px;
    height: 50px;
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(10%, 310%) translateY(-100px);
    /* расстояние до Солнца */
}

.venus {
    width: 50px;
    height: 50px;
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-120%, 10%) translateY(-100px);
    /* расстояние до Солнца */
}

.earth {
    width: 50px;
    height: 50px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(10%, 10%) translateY(-100px);
    /* расстояние до Солнца */
}

.mars {
    width: 50px;
    height: 50px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(100%, 100%) translateY(-100px);
    /* расстояние до Солнца */
}

.jupiter {
    width: 50px;
    height: 50px;
    background-color: brown;
    top: 50%;
    left: 50%;
    transform: translate(100%, 220%) translateY(-100px);
    /* расстояние до Солнца */
}